<head>
    <style>
    a {
        text-decoration: none;
    }

    h1{
        font-size: 30px;
    }

    p{
        font-size: 20px;
    }

    .profile {
        display: flex;
        padding: 20px;
    }

    .izq {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 250px;
        width: 250px;
        border-radius: 20%;
    }

    .izq img {
        overflow: hidden;
    }

    .der {
        padding: 20px;
    }
    
    .trips {
        padding: 20px;
    }
    
    button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    a {
        color: black;
    }

    .trips a:visited {
        color: inherit;
}

</style>
</head>

<body>
    {{> nav}}
    <div class="profile">
        <div class="izq">
            <img src={{user.photo}} alt="user-image">
        </div>
        <div class="der">
            <h1>username: {{user.username}}</h1>
            <h1>email: {{user.email}}</h1>
            <h1>trips: {{trips.length}}</h1> 
            {{#if owner}}
                <a href="/user/update">Update profile</a>
            {{/if}}
        </div>
    </div>
    <div class="trips">
        {{#if owner}}
            <button>
                <a href="/trip/create">CREATE TRIP</a>
            </button>
        {{/if}}

        {{#if trips}}
        <ul>
            {{#each trips}}
            <a href="/trip/{{this.id}}">
                <li>
                    <p>{{this.name}}</p>
                </li>
            </a>
            {{/each}}
        </ul>
        {{else}}
        <p>No Trips</p>
        {{/if}}
    </div>
</body>

