<style>
    .profile {
        display: flex;
        height: 25vh;
    }

    .izq {
        flex: 1;
        background-color: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden; /* Añade overflow: hidden para ocultar las esquinas de la imagen fuera del contenedor */
        border-radius: 50%; /* Aplica un radio de borde del 50% para hacer la imagen circular */
    }

    .izq img {
        max-width: 100%; /* Asegúrate de que la imagen no sobrepase el contenedor */
        border-radius: 50%; /* Aplica también un radio de borde para la imagen (opcional) */
    }

    .der {
        flex: 3;
        background-color: #fff;
        padding: 20px;
    }
    
</style>

<h1>Profile page</h1>
<div class="profile">
    <div class="izq">
        <img src={{user.photo}} alt="user-image">
    </div>
    <div class="der">
        <p>username: {{user.username}}</p>
        <p>email: {{user.email}}</p>
        <p>trips: {{trips.length}}</p> 
    </div>
</div>
    <a href="/user/update">Update profile</a>

{{#if trips}}
<ul>
    {{#each trips}}
    <a href="/trip/{{this.id}}">
        <li>
            <p>NAME: {{this.name}}</p>
        </li>
    </a>
    {{/each}}
</ul>
{{else}}
<p>No Trips</p>
{{/if}}
