<style>

    .profile {
        display: flex;
        height: 25vh;
    }

    .izq {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .izq img {
        overflow: hidden;
        border-radius: 20%;
        
    }

    .der {
        flex: 4;
        background-color: #fff;
        padding: 20px;
    }
    
</style>

<h1>Profile page</h1>
<div class="profile">
    <div class="izq">
        <img src={{user.photo}} alt="user-image">
    </div>
    <div class="der">
        <p>username: {{user.username}}</p>
        <p>email: {{user.email}}</p>
        <p>trips: {{trips.length}}</p> 
        <a href="/user/update">Update profile</a>
    </div>
</div>

{{#if trips}}
<ul>
    {{#each trips}}
    <a href="/trip/{{this.id}}">
        <li>
            <p>{{this.name}}</p>
        </li>
    </a>
    {{/each}}
</ul>
{{else}}
<p>No Trips</p>
{{/if}}
