<head>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap">

    <style>
        body{
            font-family: 'Bebas Neue';
        }

        a {
            text-decoration: none;
            color: #000000;
        }

        h1, h2, h3{
            margin: 10px;
        }

        .tripView {
            display: flex;
        }

        .izqTrip {
            flex: 1;
        }

        .mapBox {
            height: 100%;
        }

        #map {
            width: 100%;
            height: 100%;
        }

        .derTrip {
            flex: 1;
            height: 100vh;
            overflow-y: auto; /* Hace que haya un desplazamiento vertical si es necesario */
            padding: 20px; /* Ajusta según sea necesario */
            box-sizing: border-box;
        }

        .photoContent {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 250px;
        width: 250px;
        border-radius: 5%;
        }

        .photoContent img {
        overflow: hidden;
        }
        
        .allPosts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: auto;
        }

        .postBox {
            width: 75%;
            padding: 15px;
            border: 2px solid #000000;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .comments {
            width: 75%;
            height: 80px;
            overflow: auto;
            border: 1px solid #ccc;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #comment{
            background-color: #92ccfe;
            color: #000000;
            padding: 5px;
            border: 1px black solid;
            border-radius: 5px;
            cursor: pointer;
        }

        #delete{
            background-color: #ff1919;
            color: #ffffff;
            padding: 5px;
            border: 1px black solid;
            border-radius: 5px;
            cursor: pointer;
        }

    </style>
</head>

<body>
    <header>
        {{>nav}}
    </header>
    <div class="tripView">
        <div class="izqTrip">
            <div class="mapBox">
                <div id="map"></div>
            </div>
            <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
            <script>
            document.addEventListener('DOMContentLoaded', function () {  //Sin esta linea no se carga el mapa correctamente
                mapboxgl.accessToken = '{{mapBoxApiKey}}';
                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/navigation-night-v1',
                    zoom: 5,
                });
                var coordinates = []
                {{#each trip.post as |post|}}
                    {{#if post.location}}
                        // Verifica si hay coordenadas
                        var latitude = {{post.location.latitude}};
                        var longitude = {{post.location.longitude}};
                        coordinates.push([latitude, longitude]);
                        // Crea un marcador en el mapa con las coordenadas
                        new mapboxgl.Marker()
                            .setLngLat([latitude, longitude])
                            .addTo(map);
                    {{/if}}
                {{/each}}

                var bounds = new mapboxgl.LngLatBounds();
                coordinates.forEach(function (marker) {
                    bounds.extend(marker);
                });
                map.fitBounds(bounds, { padding: 100 });
            });
            </script>
        </div>
        <div class="derTrip">
            <div class="allPosts">
            {{!-- SI ES PROPIETARIO --> MUESTRA CREAR POST , SI NO ES ENLACE CON NOMBRE DE PERFIL DEL PROPIETARIO --}}
            {{#if owner}}  
            <button>
                <a href="/posts/create/{{trip.id}}">CREAR POST</a>
            </button>
            {{else}}
                <a href="/user/{{trip.userId}}">
                    <h1>@{{trip.user.username}}</h1>
                </a>
            {{/if}}

                {{#if trip.post}}
                    <h2>POSTS</h2>

                    {{!-- TODOS LOS POSTS --}}
                    {{#each trip.post as |post|}}
                        <div class="postBox">
                        {{!-- LOCALIZACION --}}
                            {{#if post.location}}   
                                <h3>{{ post.location.name }}</h3>
                            {{/if}}
                        {{!-- FOTO --}}
                            {{#if post.photo}}
                            <div class="photoContent">
                                <img src="{{post.photo}}" alt="imagen-de-publicacion">
                            </div>    <br>  
                            {{/if}}
                        {{!-- COMENTARIOS --}}
                            <div class="comments">
                                {{#each post.comments as |comment|}}
                                    {{#if comment.user}}
                                        <p>@{{comment.user.username}}: {{comment.text}}</p>
                                    {{!-- {{else}}
                                        <p>Usuario desconocido: {{comment.text}}</p> --}}
                                    {{/if}}
                                {{/each}}
                            </div><br>
                            {{!-- FORMULARIO PARA COMENTAR --}}
                            <form action="/comments/post" method="POST">
                                <input type="text" name="comment">
                                <input type="hidden" name="postId" value="{{post.id}}">
                                <input type="hidden" name="tripId" value="{{../trip.id}}">
                                <button id = "comment" type="submit">Comentar</button>
                            </form>
                        {{!-- FORMULARIO PARA ELIMINAR --}}
                            {{#if ../owner}} {{!--CORRECTA JERARQUIZACION PARA ACCEDER A VARIABLES DENTRO DE UN EACH AS --}}
                                <form action="/posts/delete?_method=DELETE" method="POST">
                                    <input type="hidden" name="postId" value="{{post.id}}">
                                    <input type="hidden" name="tripId" value="{{../trip.id}}">
                                    <button id="delete" type="submit">Eliminar</button>
                                </form>
                            {{/if}}
                        </div>
                        <br>
                    {{/each}}
                {{else}}
                <p>No hay posts disponibles para este viaje.</p>
                {{/if}}

                {{#if owner}}
                    <form action="/trip/delete?_method=DELETE" method="POST">
                        <input type="hidden" name="tripId" value="{{trip.id}}">
                        <button id="delete" type="submit">ELIMINAR VIAJE</button>
                    </form>
                {{/if}}
                </div>
        </div>
    </div>
</body>