<head>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
        }

        .tripView {
            display: flex;
            height: 100vh;
        }

        .izqTrip,
        .derTrip {
            flex-direction: column;
            flex: 1;
            padding: 0px;
            box-sizing: border-box;
            overflow-y: auto;
        }

        #map {
            height: 100%;
            width: 100%;
            margin-top: 0px;
            border: 10px;
            border-color: black;
        }

        .postBox {
            width: 50%;
            margin: 10px;
            padding: 15px;
            border: 5px solid #000000;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div class="tripView">
        <div class="izqTrip">
            <div id="map"></div>
            <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
            <script>
            document.addEventListener('DOMContentLoaded', function () {
                mapboxgl.accessToken = '{{mapBoxApiKey}}';
                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    zoom: 5,
                });
                var coordinates = []
                {{#each trip.post as |post|}}
                    {{#if post.location}}
                        // Verifica si hay coordenadas
                        var latitude = {{post.location.latitude}};
                        var longitude = {{post.location.longitude}};
                        coordinates.push([latitude, longitude]);
                        // Crea un marcador en el mapa con las coordenadas
                        new mapboxgl.Marker()
                            .setLngLat([latitude, longitude])
                            .addTo(map);
                    {{/if}}
                {{/each}}
                var bounds = new mapboxgl.LngLatBounds();
                coordinates.forEach(function (marker) {
                    bounds.extend(marker);
                });
                map.fitBounds(bounds, { padding: 100 });
            });
            </script>
        </div>
        <div class="derTrip">
            {{#if owner}}
            <button>
                <a href="/posts/create/{{trip.id}}">Crear Post</a>
            </button>
            {{/if}}
            <div>
                {{#if trip.post}}
                    <h2>Posts</h2>
                    1 owner: {{owner}}
                    {{#each trip.post as |post |}}
                        <div class="postBox">
                            2 owner: {{../owner}}  
                            {{#if post.location}}
                                <p>{{ post.location.name }}</p>
                            {{/if}}
                            {{#if post.photo}}
                                <img src="{{post.photo}}" alt="imagen-de-publicacion"
                                style="width: 200px; height:200px; border-radius: 10px">
                            {{/if}}
                            {{#if ../owner}} {{!--CORRECTA JERARQUIZACION PARA ACCEDER A VARIABLES DENTRO DE UN EACH AS --}}
                                <form action="/posts/delete?_method=DELETE" method="POST">
                                    <input type="hidden" name="postId" value="{{post.id}}">
                                    <input type="hidden" name="tripId" value="{{../trip.id}}">
                                    <button type="submit">Eliminar</button>
                                </form>
                            {{/if}}
                        </div>
                    {{/each}}
                {{else}}
                <p>No hay posts disponibles para este viaje.</p>
                {{/if}}
            </div>
        </div>
    </div>
</body>